---
export interface Props {
  titleproject: string;
  descproject: string;
  linkproject: string;
}
const { titleproject, descproject, linkproject } = Astro.props;

const cn = (...classes) => classes.filter(Boolean).join(' ');
---

<ul>
  <li
    class={cn(
      'group',
      'flex items-start justify-between px-4 py-3',
      'bg-zinc-900 hover:bg-zinc-800',
      'outline-none border border-gray-400 hover:border-gray-200 rounded-3xl',
      'focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-800 focus-visible:ring-offset-zinc-900'
    )}
  >
    <div class="flex flex-row items-stretch gap-5 pl-2">
      <div class="flex items-start justify-center">
        <i
          class="ri-image-line text-2xl text-gray-400 transition duration-300 group-hover:-translate-y-1 group-hover:text-whiteText"
        ></i>
      </div>
      <div>
        <h3 class="mb-1 text-sm text-whiteText transition duration-300 group-hover:translate-x-1">
          {titleproject}
        </h3>
        <div
          class="text-xs text-gray-400 transition duration-300 group-hover:translate-x-px group-hover:text-gray-200"
        >
          {descproject}
        </div>
      </div>
    </div>
    <a
      href={`${linkproject}`}
      class="group rounded-xl border border-gray-400 bg-zinc-800 px-2 py-1 hover:border-gray-200 hover:bg-neutral-800"
      target="_blank"
      aria-label="Open"
    >
      <i
        class="ri-share-box-line text-gray-400 transition group-hover:text-magentaC group-focus-visible/icon:text-magentaC"
      ></i>
    </a>
  </li>
</ul>
