---
import ProjectList from './ProjectList.astro';

const projectItems = [
  {
    titleproject: 'SORE. Pixel Crafters',
    descproject:
      'SORE Pixel Crafters is a digital agency that specializes in UI/UX Design and Web Development.',
    linkproject: 'https://sorepixel.com/',
  },
  {
    titleproject: 'Badan Wakaf Indonesia (BWI)',
    descproject:
      'Badan Wakaf Indonesia (BWI) is an independent body established under Undang-Undang Nomor 41 Tahun 2004 on Wakaf. BWI role is to guide waqf managers (nazhir) to manage waqf assets productively, benefiting society through social services, economic empowerment, and public infrastructure development.',
    linkproject: 'https://bwikepri.vercel.app/',
  },
  {
    titleproject: 'Steganography App',
    descproject:
      'a simple Steganography application using the Least Significant Bit (LSB) method with Go.',
    linkproject: 'https://setografi-steganography-with-go.hf.space/',
  },
  {
    titleproject: 'Koefi Coffee Shop Web',
    descproject: 'Fully responsive coffee shop website built with React JS and Tailwind CSS.',
    linkproject: 'https://keofi-coffeeshop.vercel.app/',
  },
  {
    titleproject: 'Luxspace Web',
    descproject: 'Web Apps (E-Commerce) application development using React JS and Tailwind CSS.',
    linkproject: 'https://luxspace-company.vercel.app/',
  },
  {
    titleproject: 'Samurai Yamitsuki',
    descproject: 'Landing page with a samurai design (not yet responsive).',
    linkproject: 'https://samurai-yamitsuki.vercel.app/',
  },
  {
    titleproject: 'Vacation',
    descproject: 'Landing page for a Vacation Site built with Flask.',
    linkproject: 'https://vacation-site.vercel.app/',
  },
];
---

<div id="carouselContainer" class="w-full overflow-hidden">
  <div id="carouselItems" class="flex w-full transition-transform duration-500">
    {
      projectItems.map((item) => {
        return (
          <div class="card w-full flex-shrink-0 p-1 md:max-w-fit">
            <ProjectList
              titleproject={item.titleproject}
              descproject={item.descproject}
              linkproject={item.linkproject}
            />
          </div>
        );
      })
    }
  </div>

  <div class="flex justify-between">
    <button
      id="prevBtn"
      class="transform cursor-pointer rounded-xl bg-magentaC px-2 py-1 text-whiteText transition duration-300 hover:bg-grayNetral hover:text-gray-400 sm:px-3 md:px-4"
    >
      <i class="ri-arrow-left-s-line"></i>
    </button>
    <button
      id="nextBtn"
      class="transform cursor-pointer rounded-xl bg-magentaC px-2 py-1 text-whiteText transition duration-300 hover:bg-grayNetral hover:text-gray-400 sm:px-3 md:px-4"
    >
      <i class="ri-arrow-right-s-line"></i>
    </button>
  </div>
</div>

<script>
  const cards = document.querySelectorAll('.card') as NodeListOf<HTMLElement>;
  const prevBtn = document.getElementById('prevBtn');
  const nextBtn = document.getElementById('nextBtn');
  const carouselItems = document.getElementById('carouselItems');
  let currentIndex = 0;
  let interval;

  function showCard(index) {
    // Hitung lebar setiap kartu (card) berdasarkan lebarnya
    const cardWidth = cards[0].offsetWidth; // Gunakan optional chaining untuk keamanan
    carouselItems.style.transform = `translateX(-${index * cardWidth}px)`;
  }

  function showNextCard() {
    if (currentIndex < cards.length - 1) {
      currentIndex++;
    } else {
      currentIndex = 0; // Reset ke awal untuk infinite scroll
    }
    showCard(currentIndex);
  }

  function showPrevCard() {
    if (currentIndex > 0) {
      currentIndex--;
    } else {
      currentIndex = cards.length - 1; // Kembali ke item terakhir
    }
    showCard(currentIndex);
  }

  prevBtn.addEventListener('click', () => {
    clearInterval(interval); // Hentikan otomatisasi ketika tombol diklik
    showPrevCard();
  });

  nextBtn.addEventListener('click', () => {
    clearInterval(interval); // Hentikan otomatisasi ketika tombol diklik
    showNextCard();
  });

  // Fungsi untuk menggeser kartu secara otomatis setiap 3 detik
  function autoSlide() {
    interval = setInterval(() => {
      showNextCard();
    }, 3000); // Ganti kartu setiap 3 detik (3000 milidetik)
  }

  window.onload = () => {
    autoSlide(); // Mulai otomatisasi saat halaman dimuat
  };
</script>
