@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Silkscreen:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background: hsl(240deg 5.88% 10%);
  -webkit-font-smoothing: antialiased;
}

.block {
  display: block !important;
}
.hidden {
  display: none !important;
}

.glassmorphism {
  background: linear-gradient(
    135deg,
    rgba(30, 30, 30, 0.4) /* neutral 800 */,
    rgba(66, 66, 66, 0.2) /* neutral 700 */
  );
}

.glow-shadow {
  box-shadow:
    0 0 10px rgba(171, 71, 188, 0.4) /* Purple glow */,
    0 0 20px rgba(206, 153, 242, 0.3); /* Lavender soft glow */
}

/* ::-webkit-scrollbar {
  width: 0.6rem;
  background-color: rgba(30, 30, 30, 0.4);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(186, 104, 200, 0.8);
  border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(154, 68, 192, 1);
} */
