---

---

<div
  class="h-fit w-full rounded-lg border border-light-background-primary/20 bg-light-background-primary/10 p-4 shadow-lg backdrop-blur-2xl"
>
  <div class="flex items-center justify-between">
    <h3 class="font-ibmPlexsans text-xl text-dark-text-primary">Progress</h3>
    <i
      class="ri-information-line cursor-pointer text-lg text-dark-text-secondary transition duration-300 hover:text-accent-cyan-600"
    ></i>
  </div>

  <div>
    <p class="mb-2 font-ibmPlexmono text-xs text-dark-text-tertiary">
      File: setografi/new-portofolio...
    </p>
    <div class="h-2.5 w-full rounded-full bg-dark-background-tertiary">
      <div style="width: 79%" class="h-2.5 rounded-full bg-accent-cyan-600"></div>
    </div>
    <div class="mt-3 flex items-center justify-between">
      <span class="text-xs text-dark-text-secondary">79% Complete</span>
      <button class="text-xs text-accent-cyan-600 hover:underline">Details</button>
    </div>
  </div>
</div>
