---
interface Props {
  socialicon: string;
  socialalt: string;
  sociallink: string;
}

const { socialicon, socialalt, sociallink } = Astro.props;
---

<a href={sociallink} target="_blank" class="h-8 w-8">
  <img src={socialicon} alt={socialalt} class="h-full w-full object-cover" />
</a>
