---
import MusicPlayerEvent from '../shared/MusicPlayerEvent';
import ProgressEvent from '../shared/ProgressEvent.astro';
import ProjectData from '../project/ProjectData.astro';
import AnimatedCanvas from '../animation/AnimaCanvas.astro';
import ImageEvent from '../shared/ImageEvent.astro';
import JobTag from '../experience/JobTag.astro';

import { Image } from 'astro:assets';
import LogoImage from '../assets/images/logo_6.png';
// import SoreLogo from '../assets/images/logo-SORE.svg';

export const frontmatter = {
  title: 'Projects',
};
---

<section class="flex w-full max-w-3xl flex-col items-center justify-center gap-4 p-4">
  <h1 class="font-offBitdotbold text-2xl tracking-widest text-textPrimary-100 lg:text-3xl">
    Project's
  </h1>

  <div class="grid grid-cols-1 gap-1 md:grid-cols-3 md:grid-rows-3">
    <div class="h-full w-full overflow-hidden rounded-xl md:col-span-1">
      <MusicPlayerEvent />
    </div>

    <div class="h-full w-full overflow-hidden rounded-xl border-2 border-zinc-800 md:col-span-1">
      <ProgressEvent />
    </div>

    <div
      class="flex h-full w-full items-center justify-center overflow-hidden rounded-xl bg-zinc-800 md:col-span-1 md:row-span-2"
    >
      <div class="my-12 flex flex-col items-center">
        <Image
          src={LogoImage}
          width={2245}
          height={2245}
          alt="project 1"
          loading="lazy"
          class="w-20 animate-bounce"
        />

        <h2 class="p-4 text-center font-offBitdotbold text-2xl tracking-widest text-whiteText">
          This page isn't ready yet
        </h2>

        <button
          class="cursor-pointer rounded-xl bg-magentaC px-5 py-3 font-offBit text-base tracking-widest text-whiteText transition duration-300 hover:bg-grayNetral hover:text-gray-400"
        >
          Okay
        </button>
      </div>
    </div>

    <div
      class="h-full w-full overflow-hidden rounded-xl bg-transparent md:col-span-1 md:col-start-3 md:row-start-3"
    >
      <ImageEvent
        imagesource="/img/SerenityLogo2.jpeg"
        imagetitle="Serenity Logo Desgin"
        imagedesc={`Serenity is a mobile app for exploring interesting places in Jakarta.`}
      />
    </div>

    <div
      class="col-start-1 h-full w-full overflow-hidden text-whiteText md:col-span-2 md:row-span-2 md:row-start-2"
    >
      <div class="flex h-full flex-col gap-1">
        <div class="flex-1 rounded-xl border-2 border-zinc-800 p-4">
          <h2 class="mb-3 font-offBitdotbold text-xl tracking-widest">Projects</h2>
          <ProjectData />
        </div>

        <div class="h-full w-full rounded-xl bg-zinc-800 p-4">
          <h2 class="font-offBitdotbold text-xl tracking-widest">Experience</h2>

          <JobTag />
        </div>
      </div>
    </div>

    <div
      class="h-full w-full overflow-hidden rounded-xl bg-transparent md:col-span-1 md:row-start-4"
    >
      <ImageEvent
        imagesource="/img/gamedev-project.png"
        imagetitle="Game Dev Project"
        imagedesc={`Ongoing project to create a 2D game using JavaScript.`}
      />
    </div>

    <div class="relative h-full w-full overflow-hidden rounded-xl md:col-span-2 md:row-start-4">
      <div class="inset-0 h-full w-full md:absolute">
        <AnimatedCanvas />
      </div>
    </div>
  </div>
</section>
