---

---

<div class="w-full p-2 md:p-4">
  <span class="font-ibmPlexsans text-xs text-neutral-100">
    Developed by
    <a
      href="https://github.com/setografi"
      class="hover:text-accent-purple-500 focus-visible:text-accent-purple-500 inline-block font-semibold outline-none transition duration-500 hover:-translate-y-px"
      target="_blank"
      aria-label="Developer"
    >
      setografi
    </a>
  </span>
</div>
