---

---

<div class="mb-28 mt-8 text-center font-ibmPlexmono text-xs text-whiteText">
  <span>
    Developed by
    <a
      href="https://github.com/setografi"
      class="inline-block font-semibold outline-none transition duration-300 hover:-translate-y-px hover:text-magentaC focus-visible:text-magentaC"
      target="_blank"
      aria-label="Developer"
    >
      setografi
    </a>
  </span>
</div>
