---

---

<div class="text-dark-text-primary w-full p-2 font-ibmPlexsans text-xs md:p-4">
  <span>
    Developed by
    <a
      href="https://github.com/setografi"
      class="hover:text-accent-magenta-600 focus-visible:text-accent-magenta-600 inline-block font-semibold outline-none transition duration-300 hover:-translate-y-px"
      target="_blank"
      aria-label="Developer"
    >
      setografi
    </a>
  </span>
</div>
