<div
  class="glassmorphism glow-shadow flex w-full max-w-lg flex-col rounded-lg border border-accent-lavender-400/60 p-4 backdrop-blur-2xl"
>
  <h2 class="mb-2 font-ibmPlexsans text-base font-bold text-neutral-100">
    Here are some skills and technologies I have learned
  </h2>

  <div class="grid grid-cols-2">
    <div class="flex flex-col items-start justify-start gap-1">
      <h3 class="text-sm text-neutral-100 md:text-base">Languages:</h3>

      <ul class="grid list-outside list-disc grid-flow-row px-4 text-neutral-300">
        <li class="text-xs md:text-sm">HTML</li>
        <li class="text-xs md:text-sm">CSS</li>
        <li class="text-xs md:text-sm">Javascript</li>
        <li class="text-xs md:text-sm">Python</li>
        <li class="text-xs md:text-sm">C#</li>
        <li class="text-xs md:text-sm">Elixir</li>
      </ul>
    </div>

    <div class="flex flex-col items-start justify-start gap-1">
      <h3 class="text-sm text-neutral-100 md:text-base">Frameworks & Libraries:</h3>

      <ul class="grid list-outside list-disc grid-flow-row px-4 text-neutral-300">
        <li class="text-xs md:text-sm">React JS</li>
        <li class="text-xs md:text-sm">Tailwind CSS</li>
        <li class="text-xs md:text-sm">Alpine JS</li>
        <li class="text-xs md:text-sm">Astro JS</li>
        <li class="text-xs md:text-sm">Next JS</li>
        <li class="text-xs md:text-sm">React Native</li>
      </ul>
    </div>
  </div>
</div>
