---
import Layout from '../layouts/Layout.astro';
import HomeEvent from '../components/HomeEvent.astro';
import ProjectEvent from '../components/ProjectEvent.astro';
import BlogEvent from '../components/BlogEvent.astro';
import AboutEvent from '../components/AboutEvent.astro';
import AppLoad from '../components/AppLoad.jsx';
import '../assets/css/style.css';
---

<Layout title="Setografi">
	<HomeEvent />
	
	<AppLoad client:only="react">
		<div slot="projectSlot">
		  <ProjectEvent />
		</div>
		<div slot="blogSlot">
			<BlogEvent />
		</div>
		<div slot="aboutSlot">
			<AboutEvent />
		</div>
	</AppLoad>
</Layout>