---
import Layout from '../layouts/Layout.astro';
import HomeEvent from '../components/HomeEvent.astro';
import ProjectEvent from '../components/ProjectEvent.astro';
import BlogEvent from '../components/BlogEvent.astro';
import AboutEvent from '../components/AboutEvent.astro';
import Navbar from '../components/layout/Navbar.astro';
import FooterEvent from '../components/layout/FooterEvent.astro';
---

<Layout title="Setografi" description="setografi portfolio">
  <!-- <AppLoad client:only="react">
		<div slot="projectSlot">
		  <ProjectEvent />
		</div>
		<div slot="blogSlot">
			<BlogEvent />
		</div>
		<div slot="aboutSlot">
			<AboutEvent />
		</div>
	</AppLoad> -->

  <div class="fixed flex items-start">
    <Navbar />
  </div>

  <div class="flex h-full flex-col overflow-y-auto">
    <HomeEvent />
    <ProjectEvent />
    <BlogEvent />
    <AboutEvent />
  </div>

  <FooterEvent />
</Layout>
