---
import Layout from '../layouts/Layout.astro';
import HomeEvent from '../components/HomeEvent.astro';
import ProjectEvent from '../components/ProjectEvent.astro';
import BlogEvent from '../components/BlogEvent.astro';
import AboutEvent from '../components/AboutEvent.astro';
import Navbar from '../components/layout/Navbar.astro';
import FooterEvent from '../components/layout/FooterEvent.astro';
---

<Layout title="Setografi" description="setografi portfolio">
  <!-- <AppLoad client:only="react">
		<div slot="projectSlot">
		  <ProjectEvent />
		</div>
		<div slot="blogSlot">
			<BlogEvent />
		</div>
		<div slot="aboutSlot">
			<AboutEvent />
		</div>
	</AppLoad> -->
  <div class="relative m-6 h-full border-2 border-bodyPrimary-700">
    <div class="absolute flex h-full flex-col items-start justify-between">
      <Navbar />
      <FooterEvent />
    </div>

    <div class="flex flex-col items-center justify-end">
      <div id="home-section">
        <HomeEvent />
      </div>

      <div id="project-section">
        <ProjectEvent />
      </div>

      <div id="blog-section">
        <BlogEvent />
      </div>

      <div id="about-section">
        <AboutEvent />
      </div>
    </div>
  </div>
</Layout>
