---
import Layout from '../layouts/Layout.astro';
import HomeEvent from '../components/HomeEvent.astro';
import ProjectEvent from '../components/ProjectEvent.astro';
import BlogEvent from '../components/BlogEvent.astro';
import AboutEvent from '../components/AboutEvent.astro';
import Navbar from '../components/layout/Navbar.astro';
---

<Layout title="Setografi" description="setografi portfolio">
  <HomeEvent />

  <!-- <AppLoad client:only="react">
		<div slot="projectSlot">
		  <ProjectEvent />
		</div>
		<div slot="blogSlot">
			<BlogEvent />
		</div>
		<div slot="aboutSlot">
			<AboutEvent />
		</div>
	</AppLoad> -->
  <Navbar />

  <div id="project-section">
    <ProjectEvent />
  </div>
  <div id="blog-section">
    <BlogEvent />
  </div>
  <div id="about-section">
    <AboutEvent />
  </div>
</Layout>
