---
import Layout from '../layouts/Layout.astro';
import HomeEvent from '../components/HomeEvent.astro';
import ProjectEvent from '../components/ProjectEvent.astro';
import BlogEvent from '../components/BlogEvent.astro';
import AboutEvent from '../components/AboutEvent.astro';
import Navbar from '../components/layout/Navbar.astro';
import FooterEvent from '../components/layout/FooterEvent.astro';
import NavbarEvent from '../components/layout/NavbarEvent';
---

<Layout title="Setografi" description="setografi portfolio">
  <!-- <AppLoad client:only="react">
		<div slot="projectSlot">
		  <ProjectEvent />
		</div>
		<div slot="blogSlot">
			<BlogEvent />
		</div>
		<div slot="aboutSlot">
			<AboutEvent />
		</div>
	</AppLoad> -->

  <div class="mx-auto h-dvh overflow-hidden p-6">
    <div class="flex h-full w-full overflow-hidden border border-textPrimary-100">
      <div class="fixed z-10 h-fit bg-transparent text-textPrimary-100">
        <Navbar />
      </div>

      <div class="h-full w-full overflow-y-scroll bg-bodyPrimary-900 text-textPrimary-100">
        <HomeEvent />
        <ProjectEvent />
        <BlogEvent />
        <AboutEvent />
      </div>
    </div>
  </div>
</Layout>
