---
import Layout from '../layouts/Layout.astro';
import HomeEvent from '../components/HomeEvent.astro';
import ProjectEvent from '../components/ProjectEvent.astro';
import SkillEvent from '../components/SkillEvent.astro';
import AboutEvent from '../components/AboutEvent.astro';
import AppLoad from './AppLoad';
import '../assets/css/style.css';
---

<Layout title="Setografi">
	<HomeEvent />
	
	<AppLoad client:load>
		<div slot="projectSlot">
		  <ProjectEvent />
		</div>
		<div slot="skillSlot">
		  <SkillEvent />
		</div>
		<div slot="aboutSlot">
			<AboutEvent />
		</div>
	</AppLoad>
</Layout>
