---
import Layout from '../layouts/Layout.astro';
import HomeEvent from '../components/HomeEvent.astro';
import ProjectEvent from '../components/ProjectEvent.astro';
import InfoEvent from '../components/InfoEvent.astro';
import AboutEvent from '../components/AboutEvent.astro';
import Navbar from '../components/layout/Navbar.astro';
import FooterEvent from '../components/layout/FooterEvent.astro';
---

<Layout title="Setografi" description="setografi portfolio">
  <!-- <AppLoad client:only="react">
		<div slot="projectSlot">
		  <ProjectEvent />
		</div>
		<div slot="blogSlot">
			<BlogEvent />
		</div>
		<div slot="aboutSlot">
			<AboutEvent />
		</div>
	</AppLoad> -->

  <div class="mx-auto h-dvh overflow-hidden p-6">
    <div class="border-dark-text-tertiary flex h-full w-full overflow-hidden border">
      <div class="fixed z-10 h-fit bg-transparent">
        <Navbar />
      </div>

      <div class="bg-dark-background-primary h-full w-full overflow-y-scroll">
        <HomeEvent />
        <ProjectEvent />
        <InfoEvent />
        <AboutEvent />
      </div>

      <div class="fixed bottom-6 z-10 h-fit bg-transparent">
        <FooterEvent />
      </div>
    </div>
  </div>
</Layout>
