---
import Hero from './about/Hero.astro';
import Job from './about/Job.astro';
import Skill from './about/Skill.astro';
import Contact from './about/Contact.astro';

export const frontmatter = {
  title: 'About',
};
---

<section id="about-section" class="mt-28 min-h-dvh w-full p-2 md:mt-0 md:p-4">
  <div
    class="flex h-full w-full flex-col items-start justify-end gap-4 md:items-end md:justify-start"
  >
    <Hero />
    <Job />
    <Skill />
    <Contact />
  </div>
</section>
