---
import AboutSectionData from './about/AboutSectionData.jsx';

export const frontmatter = {
  title: 'About',
};
---

<section class="mx-auto mt-5 w-full md:w-[48rem]">
  <div class="grid grid-flow-row gap-5">
    <AboutSectionData />
  </div>
</section>
