---
import AboutData from "./AboutData";

export const frontmatter = {
  title: 'About',
};
---

<section class="w-full md:w-[48rem] mx-auto mt-5 mb-8" id="about">
  <div class="grid grid-flow-row gap-5">
    <AboutData />
  </div>
</section>
