---
export const frontmatter = {
  title: 'About',
};
---

<section id="about">
  <div class="p-4">
    <h1 class="text-whiteText">About</h1>
    <p class="text-whiteText">Here is some information about me...</p>
  </div>
</section>
