---
import AboutSectionData from './about/AboutSectionData.jsx';

export const frontmatter = {
  title: 'About',
};
---

<section class="mx-auto mt-5 w-full rounded-2xl border-2 border-bodyPrimary-800 md:w-[48rem]">
  <div class="p-4">
    <h1
      class="text-center font-offBitdotbold text-2xl tracking-widest text-textPrimary-100 lg:text-3xl"
    >
      Contact Me?
    </h1>
  </div>

  <div class="grid grid-flow-row gap-5">
    <AboutSectionData client:load/>
  </div>
</section>
