---
import AboutSectionData from "./about/AboutSectionData.jsx";

export const frontmatter = {
  title: 'About',
};
---

<section class="w-full md:w-[48rem] mx-auto mt-5 mb-8" id="about">
  <div class="grid grid-flow-row gap-5">
    <AboutSectionData />
  </div>
</section>
