---
import JobTag from './experience/JobTag.astro';
import MusicPlayerEvent from './shared/MusicPlayerEvent';
import ProgressEvent from './shared/ProgressEvent.astro';

export const frontmatter = {
  title: 'Blogs',
};
---

<section id="blog-section" class="mb-72 mt-36 h-full w-full p-4 md:mb-36 md:mt-0">
  <h1
    class="mb-4 text-left font-offBitdotbold text-4xl tracking-widest text-textPrimary-100 md:text-right lg:text-5xl"
  >
    Info
  </h1>

  <div class="grid h-full w-full justify-end">
    <div class="grid max-w-lg grid-cols-1 gap-5">
      <div class="w-full bg-zinc-800 p-4">
        <h2 class="font-offBitdotbold text-2xl tracking-widest text-textPrimary-100">Experience</h2>
        <JobTag />
      </div>
      <MusicPlayerEvent />
      <ProgressEvent />
    </div>
  </div>
</section>
