---
import JobTag from './experience/JobTag.astro';
import MusicPlayerEvent from './shared/MusicPlayerEvent';
import ProgressEvent from './shared/ProgressEvent.astro';

export const frontmatter = {
  title: 'Blogs',
};
---

<section id="blog-section" class="h-full min-h-screen w-full p-4">
  <h1
    class="text-right font-offBitdotbold text-2xl tracking-widest text-textPrimary-100 lg:text-3xl"
  >
    Info
  </h1>

  <div class="grid grid-cols-1 md:grid-cols-2">
    <JobTag />
    <MusicPlayerEvent />
    <ProgressEvent />
  </div>
</section>
