---
export const frontmatter = {
  title: 'Blogs',
};
---

<section class="w-full md:w-[48rem] mx-auto mt-5 mb-8"  id="skill">
  <div class="p-4">
    <h1 class="text-whiteText">Skills</h1>
    <p class="text-whiteText">Here are some skills...</p>
  </div>
</section>

<script>
  console.log("BlogEvent mounted");
</script>