---

---

<div class="my-8 font-ibmPlexmono text-whiteText text-xs text-center">
    <span>
      Developed by
      <a
        href="https://github.com/setografi"
        class="font-semibold inline-block transition duration-300 hover:-translate-y-px outline-none hover:text-magentaC focus-visible:text-magentaC"
        target="_blank"
        aria-label="Developer"
      >
        setografi
      </a>
    </span>
</div>