---

---

<section id="home-section" class="h-full w-full">
  <div
    class="flex h-full flex-col items-start justify-end px-2 pb-6 text-left md:h-full md:items-end md:px-4 md:pb-4 md:text-right"
  >
    <h1 class="text-2xl font-bold text-dark-text-primary lg:text-5xl">Wahyu Seto Pranata</h1>
    <p class="text-lg font-normal text-dark-text-primary lg:text-3xl">
      <span class="font-silkScreen text-xl text-dark-text-secondary lg:text-5xl">Designer</span> & <span
        class="font-offBitdotbold text-xl uppercase tracking-widest text-dark-text-secondary lg:text-5xl"
        >Developer</span
      >
    </p>
  </div>
</section>
