---
import { Image } from "astro:assets";
import ProfileImage from "../assets/profileimage.jpg";
import ProfileButton from "./ProfileButton";

---

<section class="max-w-3xl w-full mx-auto grid gap-4 grid-cols-1" id="about">
    <div class="grid gap-5 gap-y-8 mt-8">
      <div class="flex flex-col p-6 border-b border-magentaC">
          <div class="flex-none sm:flex">
            <div class="relative h-32 w-32 sm:mb-0 mb-3">
              <Image class="w-32 h-32 object-cover rounded-2xl" src={ProfileImage} alt="wahyu seto pranata" />
            </div>
            <div class="flex-auto sm:ml-5 justify-evenly">
              <div class="flex items-center justify-between">
                <div class="flex items-center">
                  <div class="flex flex-col">
                    <div class="w-full flex-none font-medium text-lg lg:text-xl text-whiteText leading-none">Wahyu Seto Pranata</div>
                    <div class="flex-auto font-medium text-2xl lg:text-3xl text-whiteText my-1">
                      <span class="mr-3 ">Designer</span><span class="mr-3 text-magentaC">|</span><span>Developer</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex flex-row pt-2 gap-2 text-sm text-whiteText">
                <div class="flex items-start">
                  <i class="ri-briefcase-line mr-2"></i>
                  <p class="">4 Years of Work</p>
                </div>
                <div class="flex items-start ml-6">
                  <i class="ri-folder-6-line mr-2"></i>
                  <p class="">80 Completed Projects</p>
                </div>
              </div>
            </div>
          </div>

          <div class="my-8">
            <div class="text-whiteText text-base">
              Hello, I'm Seto, a unique creative designer and developer who spends much of his free time drinking coffee and traveling. 
              I like learning new things and trying to apply them.
            </div>
          </div>

          <ProfileButton />
      </div>
    </div>
</section>