---

---

<section id="home-section" class="h-full w-full">
  <div
    class="flex h-full w-full flex-col items-start justify-end px-2 pb-16 md:items-center md:justify-center md:px-0 md:pb-0"
  >
    <h1 class="text-2xl font-bold text-neutral-100 md:text-3xl lg:text-4xl">Wahyu Seto Pranata</h1>
    <h2 class="text-lg text-neutral-300 md:text-xl lg:text-2xl">Designer & Developer</h2>
  </div>
</section>
