---
import { Image } from 'astro:assets';
import ProfileImage from '../assets/images/profileimage2.jpg';
import ProfileButton from './shared/ProfileButton.jsx';
---

<section class="mx-auto mt-6 flex w-full max-w-3xl items-center justify-center px-4 md:mt-8">
  <div class="grid grid-flow-row gap-4">
    <div class="mb-2 h-32 w-32">
      <Image
        class="h-32 w-32 rounded-2xl object-cover"
        width={2730}
        height={2730}
        src={ProfileImage}
        alt="Wahyu Seto Pranata"
        loading="eager"
      />
    </div>

    <!-- <div class=" flex flex-col">
      <div class="relative mb-4 h-32 w-32">
        <Image
          class="h-32 w-32 rounded-2xl object-cover"
          width={2730}
          height={2730}
          src={ProfileImage}
          alt="Wahyu Seto Pranata"
          loading="eager"
        />
      </div>
      <div class="flex-auto justify-evenly">
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <div class="flex flex-col">
              <div class="w-full text-lg font-medium leading-none text-whiteText">
                Wahyu Seto Pranata
              </div>
              <div class="my-1 flex-auto gap-2 text-2xl tracking-widest text-whiteText lg:text-3xl">
                <span class="font-offBit">Designer</span>
                <span class="text-magentaC">|</span>
                <span class="font-offBitdotbold">Developer</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="border-accentOne-600 flex flex-col border-t">
      <div class="text-textPrimary-300 max-w-md py-4 text-base">
        Hello, I'm <span class="text-textPrimary-100 text-lg font-medium">Wahyu Seto Pranata</span>,
        a unique creative <span
          class="text-textPrimary-100 font-offBit text-2xl tracking-widest lg:text-3xl"
          >Designer</span
        > and <span
          class="text-textPrimary-100 font-offBitdotbold text-2xl tracking-widest lg:text-3xl"
          >Developer</span
        >
        who spends much of his free time drinking coffee and traveling. I like learning new things and
        trying to apply them.
      </div>

      <div class="text-textPrimary-100 flex flex-col gap-2 text-sm md:flex-row">
        <div class="inline-flex items-center p-1">
          <i class="ri-map-pin-2-line mr-2"></i>
          <p>Indonesia, Kepulauan Riau</p>
        </div>
        <div class="bg-bodyPrimary-800 inline-flex items-center rounded-full px-2 py-1">
          <span class="mr-2 text-xl text-green-400">•</span>
          <p>Available for work</p>
        </div>
      </div>
    </div>

    <ProfileButton />
  </div>
</section>
