---

---

<section id="home-section" class="h-full w-full">
  <div
    class="flex h-[85dvh] flex-col items-start justify-end px-2 pb-2 text-left md:h-full md:items-end md:px-4 md:pb-4 md:text-right"
  >
    <h1 class="text-dark-text-primary text-2xl font-bold lg:text-5xl">Wahyu Seto Pranata</h1>
    <p class="text-dark-text-primary text-lg font-normal lg:text-3xl">
      <span class="font-silkScreen text-dark-text-secondary text-xl lg:text-5xl">Designer</span> & <span
        class="text-dark-text-secondary font-offBitdotbold text-xl uppercase tracking-widest lg:text-5xl"
        >Developer</span
      >
    </p>
  </div>
</section>
