---
import MusicPlayerEvent from './shared/MusicPlayerEvent.jsx';
import ProgressEvent from './shared/ProgressEvent.astro';

export const frontmatter = {
  title: 'Info',
};
---

<section id="info-section" class="mb-6 h-full w-full p-2 md:mb-0 md:p-4">
  <div class="flex h-full w-full items-end justify-center md:items-start md:justify-end">
    <div class="flex max-w-lg flex-col gap-4">
      <MusicPlayerEvent client:load />
      <ProgressEvent />
    </div>
  </div>
</section>
