---
import MusicPlayerEvent from './shared/MusicPlayerEvent.jsx';
import ProgressEvent from './shared/ProgressEvent.astro';

export const frontmatter = {
  title: 'Info',
};
---

<section id="info-section" class="mb-6 mt-36 h-full w-full p-2 md:mb-8 md:mt-0 md:p-4">
  <div class="flex h-full w-full justify-center md:justify-end">
    <div class="flex max-w-lg flex-col justify-end gap-3 md:gap-5">
      <MusicPlayerEvent client:load />
      <ProgressEvent />
    </div>
  </div>
</section>
