---
import JobTag from './experience/JobTag.astro';
import MusicPlayerEvent from './shared/MusicPlayerEvent.jsx';
import ProgressEvent from './shared/ProgressEvent.astro';

export const frontmatter = {
  title: 'Info',
};
---

<section id="info-section" class="mb-48 mt-36 h-full w-full p-2 md:mb-20 md:mt-0 md:p-4">
  <!-- <h1
    class="mb-6 text-left font-silkScreen text-3xl text-dark-text-primary md:mb-3 md:text-right lg:text-5xl"
  >
    Info
  </h1> -->

  <div class="grid h-full w-full justify-end">
    <div class="grid max-w-lg grid-cols-1 gap-3 md:gap-5">
      <div>
        <h2 class="font-silkScreen text-xl text-dark-text-primary">Experience</h2>
        <JobTag />
      </div>
      <MusicPlayerEvent />
      <ProgressEvent />
    </div>
  </div>
</section>
