---

---

<div
class="w-full h-full mx-auto bg-zinc-800"
>
<div class="px-5 py-3 flex justify-between items-center">
  <h3 class="text-zinc-900 dark:text-whiteText text-base">Progress</h3>
  <i class="ri-information-line text-gray-400 text-lg"></i>
</div>
<div class="px-5 pb-5">
  <p class="mb-2 text-sm text-zinc-400 font-ibmPlexmono">
    File: setografi/new-portofolio...
  </p>
  <div class="w-full bg-zinc-200 dark:bg-zinc-700 rounded-full h-2.5">
    <div style="width: 70%" class="bg-redOrange h-2.5 rounded-full"></div>
  </div>
  <div class="flex justify-between items-center mt-3">
    <span class="text-sm text-zinc-600 dark:text-zinc-400">70% Complete</span>
    <button class="text-xs text-redOrange hover:underline">Details</button>
  </div>
</div>
</div>