---
import MusicPlayerEvent from "./MusicPlayerEvent";
import ProgressEvent from "./ProgressEvent.astro";
import ProjectData from "./ProjectData.astro";

import { Image } from "astro:assets";
import ProjectImage from "../assets/profileimage.jpg";
import LogoImage from "../assets/logo_6.png";
import SpinImage from "../assets/spin-image.svg";

import ImageEvent from "./ImageEvent.astro";

export const frontmatter = {
  title: 'Projects',
};
---

<section class="w-full md:w-[48rem] block mx-auto mt-5 mb-8" id="project">
  <div class="grid grid-cols-3 grid-rows-3 gap-5">
    <div class="w-full max-h-min bg-transparent rounded-xl overflow-hidden col-span-3 md:col-span-1">
      <MusicPlayerEvent />
    </div>

    <div class="w-full max-h-min bg-transparent rounded-xl overflow-hidden col-span-3 md:col-span-1">
      <ProgressEvent />
    </div>

    <div class="relative bg-zinc-800 text-whiteText row-span-2 rounded-xl overflow-hidden col-span-3 md:col-span-1">
      <div class="relative flex flex-col items-center z-10 my-20">
        <div class="w-20 animate-bounce">
          <Image src={LogoImage} alt="project 1"/>
        </div>

        <h2 class="p-4 text-xl font-medium text-center">
          This page isn't ready yet
        </h2>
        
        <a class="bg-blueTailwind text-whiteText rounded-xl py-3 px-5 font-medium text-sm cursor-pointer duration-300 hover:bg-grayNetral hover:text-gray-400">
          Okay
        </a>
      </div>
      
      <div class="absolute top-[14rem] left-[16rem] md:w-[28rem] md:top-[22rem] md:left-[4rem] w-[18rem] rounded-full bg-gradient-to-tr from-whiteText to-grayNetral animate-spin-slow aspect-square overflow-hidden">
        <Image class="w-full h-full object-cover" src={SpinImage} alt="Animation Image" />
      </div>
    </div>

    <div class="w-full max-h-min bg-transparent md:col-start-3 md:row-start-3 rounded-xl overflow-hidden col-span-3 md:col-span-1">
      <ImageEvent 
        imagesource="/img/toketa_cake.png"
        imagetitle="Project 2"
        imagedesc="This is Project 2"
      />
    </div>

    <div class="w-full max-h-min bg-zinc-800 text-whiteText col-span-3 md:col-span-2 md:row-span-2 col-start-1 row-start-2 rounded-xl overflow-hidden">
      <div class="p-4">
        <h2 class="font-medium text-xl mb-3">Projects</h2>
        <ProjectData/>
    </div>
    </div>

      <div class="bg-transparent md:row-start-4 rounded-xl overflow-hidden col-span-3 md:col-span-1">
        <ImageEvent 
        imagesource="/img/setan_gurih.png"
        imagetitle="Project 3"
        imagedesc="This is Project 3"
      />
      </div>

      <div class="w-full max-h-min bg-transparent md:col-span-2 md:row-start-4 rounded-xl overflow-hidden col-span-3">
        <div class="w-full h-full bg-zinc-800 flex justify-center items-center">
          <div class="w-full p-5 rounded-md tracking-wide shadow-lg">
             <div id="header" class="flex flex-col md:flex-row"> 
                <img alt="mountain" class="w-48 h-48 rounded-md border-2 border-gray-300" src="/img/sorehomeview.png" />
                <div id="body" class="flex flex-col md:ml-5 mt-5 md:mt-0">
                   <h4 id="name" class="text-whiteText text-xl font-semibold mb-2">SORE Pixel Crafters</h4>
                   <p id="job" class="text-whiteText mt-2">SORE Pixel Crafters is a digital agency that specializes in UI/UX Design and Web Development.</p>
                   <div class="flex mt-5">
                      <Image alt="avatar" class="w-6 rounded-full" src={ProjectImage} />
                      <p class="text-whiteText ml-3">Wahyu Seto Pranata</p>
                   </div>
                </div>
             </div>
          </div>
       </div>
      </div>
  </div>
</section>