---
import MusicPlayerEvent from "./MusicPlayerEvent";
import ProgressEvent from "./ProgressEvent.astro";

import { Image } from "astro:assets";
import ProjectImage from "../assets/profileimage.jpg";

import LogoImage from "../assets/logo_6.png";
import SpinImage from "../assets/spin-image.svg";

import ImageEvent from "./ImageEvent.astro";

export const frontmatter = {
  title: 'Projects',
};
---

<section class="w-[28.75rem] md:w-[48rem] block mx-auto mt-5 mb-8" id="project">
  <div class="grid grid-cols-3 grid-rows-3 gap-5">
    <div class="w-full max-h-min bg-transparent rounded-xl overflow-hidden">
      <MusicPlayerEvent />
    </div>

    <div class="w-full max-h-min bg-transparent rounded-xl overflow-hidden">
      <ProgressEvent />
    </div>

    <div class="relative bg-zinc-800 text-whiteText row-span-2 rounded-xl overflow-hidden">
      <div class="relative flex flex-col items-center mt-20 z-10">
        <div class="w-20 animate-bounce">
          <Image src={LogoImage} alt="project 1"/>
        </div>

        <h2 class="p-4 text-xl font-medium text-center">
          This page isn't ready yet
        </h2>
        
        <a class="bg-blueTailwind text-whiteText rounded-xl py-3 px-5 font-medium text-sm cursor-pointer duration-300 hover:bg-grayNetral hover:text-gray-400">
          Okay
        </a>
      </div>
      
      <div class="absolute top-[22rem] left-[3rem] w-[18rem] rounded-full bg-gradient-to-tr from-whiteText to-grayNetral animate-spin-slow aspect-square overflow-hidden">
        <Image class="w-full h-full object-cover" src={SpinImage} alt="Animation Image" />
      </div>
    </div>

    <div class="w-full max-h-min bg-transparent col-start-3 row-start-3 rounded-xl overflow-hidden">
      <ImageEvent 
        imagesource="/img/toketa_cake.png"
        imagetitle="Project 2"
        imagedesc="This is Project 2"
      />
    </div>

    <div class="w-full max-h-min bg-transparent col-span-2 row-span-2 col-start-1 row-start-2 rounded-xl overflow-hidden">
      <ImageEvent 
        imagesource="/img/pondok_santai1.jpeg"
        imagetitle="Project 1"
        imagedesc="This is Project 1"
      />
    </div>

      <div class="bg-transparent row-start-4 rounded-xl overflow-hidden">
        <ImageEvent 
        imagesource="/img/setan_gurih.png"
        imagetitle="Project 3"
        imagedesc="This is Project 3"
      />
      </div>

      <div class="w-full max-h-min bg-transparent col-span-2 row-start-4 rounded-xl overflow-hidden">
        <div class="w-full h-full bg-zinc-800 flex justify-center items-center">
          <div class="w-full p-5 rounded-md tracking-wide shadow-lg">
             <div id="header" class="flex"> 
                <img alt="mountain" class="w-48 h-48 rounded-md border-2 border-gray-300" src="/img/sorehomeview.png" />
                <div id="body" class="flex flex-col ml-5">
                   <h4 id="name" class="text-whiteText text-xl font-semibold mb-2">SORE Pixel Crafters</h4>
                   <p id="job" class="text-whiteText mt-2">SORE Pixel Crafters is a digital agency that specializes in UI/UX Design and Web Development.</p>
                   <div class="flex mt-5">
                      <Image alt="avatar" class="w-6 rounded-full" src={ProjectImage} />
                      <p class="text-whiteText ml-3">Wahyu Seto Pranata</p>
                   </div>
                </div>
             </div>
          </div>
       </div>
      </div>
  </div>
    
  <div class="grid grid-cols-3 grid-rows-6 gap-4 mt-5">
    <div class="row-span-2 bg-zinc-800 rounded-xl overflow-hidden">
      <div class="flex flex-col gap-1 justify-center items-start w-[280px] bg-white dark:bg-transparent px-4 py-4 shadow-xl rounded-lg">
        <p class="font-semibold text-xl text-gray-600 mb-2">Tags</p>
        <div class="flex flex-wrap gap-2">
          <p class="px-3 py-1 text-[12px] bg-[#d9dfe3] max-w-max rounded font-semibold text-[#7281a3]">
            #uiverse
          </p>
          <p class="px-3 py-1 text-[12px] bg-[#d9dfe3] max-w-max rounded font-semibold text-[#7281a3]">
            #html
          </p>

          <p class="px-3 py-1 text-[12px] bg-[#d9dfe3] max-w-max rounded font-semibold text-[#7281a3]">
            #css
          </p>
          <p class="px-3 py-1 text-[12px] bg-[#d9dfe3] max-w-max rounded font-semibold text-[#7281a3]">
            #tailwindcss
          </p>

          <p class="px-3 py-1 text-[12px] bg-[#d9dfe3] max-w-max rounded font-semibold text-[#7281a3]">
            #hoverme
          </p>
          <p class="px-3 py-1 text-[12px] bg-[#d9dfe3] max-w-max rounded font-semibold text-[#7281a3]">
            #figma
          </p>

          <p class="px-3 py-1 text-[12px] bg-[#d9dfe3] max-w-max rounded font-semibold text-[#7281a3]">
            #card
          </p>
          <p class="px-3 py-1 text-[12px] bg-[#d9dfe3] max-w-max rounded font-semibold text-[#7281a3]">
            #PSD
          </p>
        </div>
      </div>
    </div>

    <div class="row-span-2 bg-transparent rounded-xl overflow-hidden">
      <ImageEvent 
        imagesource="/img/SoreLogo.png"
        imagetitle="Project 5"
        imagedesc="This is Project 5"
      />
    </div>

    <div class="row-span-2 w-full max-h-min bg-zinc-800 rounded-xl overflow-hidden">
      <ImageEvent 
      imagesource="/img/luxspacehomeview.png"
      imagetitle="Project 6"
      imagedesc="This is Project 6"
    />
    </div>

    <div class="col-span-2 row-span-4 row-start-3 bg-transparent max-h-min rounded-xl">
      <div class="h-full sm:first:col-span-2 py-14 px-11 rounded-lg max-w-lg" style="background-color: #FFE8D2;">
        <h3 class="mb-4 text-black text-[22px] sm:text-[40px] font-extrabold leading-none">
            <span>Inspiration </span>
        </h3>
        <div class="text-lg text-black leading-[1.8]">
            <p>See how other companies are using Reply, which use cases are there, and how it all works in practice.</p>
        </div>
        <ul class="mt-6 sm:mt-10">
            <li class="pt-2 pb-4 mb-2 last:mb-0 border-b border-black border-solid">
                <a class="flex items-center justify-between text-black hover:text-black text-lg sm:text-xl font-medium"
                    href="#">
                    <span>Customer stories</span>
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M4.00002 7.45035e-05L13 7.42506e-05C13.5523 7.45035e-05 14 0.44779 14 1.00007V10.0001C14 10.5524 13.5523 11.0001 13 11.0001C12.4477 11.0001 12 10.5524 12 10.0001V3.41429L1.70712 13.7072L0.292908 12.293L10.5858 2.00007L4.00002 2.00007C3.44773 2.00007 3.00002 1.55236 3.00002 1.00007C3.00002 0.44779 3.44773 7.41663e-05 4.00002 7.45035e-05Z"
                            fill="black"></path>
                    </svg>
                </a>
            </li>
            <li class="pt-2 pb-4 mb-2 last:mb-0 border-b border-black border-solid">
                <a class="flex items-center justify-between text-black hover:text-black text-lg sm:text-xl font-medium"
                    href="#">
                    <span>Cold email templates</span>
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M4.00002 7.45035e-05L13 7.42506e-05C13.5523 7.45035e-05 14 0.44779 14 1.00007V10.0001C14 10.5524 13.5523 11.0001 13 11.0001C12.4477 11.0001 12 10.5524 12 10.0001V3.41429L1.70712 13.7072L0.292908 12.293L10.5858 2.00007L4.00002 2.00007C3.44773 2.00007 3.00002 1.55236 3.00002 1.00007C3.00002 0.44779 3.44773 7.41663e-05 4.00002 7.45035e-05Z"
                            fill="black"></path>
                    </svg>
                </a>
            </li>
            <li class="pt-2 pb-4 mb-2 last:mb-0 border-b border-black border-solid">
                <a class="flex items-center justify-between text-black hover:text-black text-lg sm:text-xl font-medium"
                    href="#">
                    <span>Subject line generator</span>
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M4.00002 7.45035e-05L13 7.42506e-05C13.5523 7.45035e-05 14 0.44779 14 1.00007V10.0001C14 10.5524 13.5523 11.0001 13 11.0001C12.4477 11.0001 12 10.5524 12 10.0001V3.41429L1.70712 13.7072L0.292908 12.293L10.5858 2.00007L4.00002 2.00007C3.44773 2.00007 3.00002 1.55236 3.00002 1.00007C3.00002 0.44779 3.44773 7.41663e-05 4.00002 7.45035e-05Z"
                            fill="black">
                        </path>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    </div>
    
    <div class="row-span-2 col-start-3 row-start-3 bg-zinc-800 rounded-xl">
      <ImageEvent 
      imagesource="/img/intechhomeview.png"
      imagetitle="Project 7"
      imagedesc="This is Project 7"
    />
    </div>

    <div class="row-span-2 col-start-3 row-start-5 bg-transparent rounded-xl">
      <ImageEvent 
      imagesource="/img/KontenIG.png"
      imagetitle="Project 8"
      imagedesc="This is Project 8"
    />
    </div>
  </div>
</section>