---
import MusicPlayerEvent from './shared/MusicPlayerEvent.jsx';
import ProgressEvent from './shared/ProgressEvent.astro';
import ProjectData from './project/ProjectData.astro';
import AnimatedCanvas from './animation/AnimaCanvas.astro';
import ImageEvent from './shared/ImageEvent.astro';
import JobTag from './experience/JobTag.astro';

import { Image } from 'astro:assets';
import LogoImage from '../assets/images/logo_6.png';
// import SoreLogo from '../assets/images/logo-SORE.svg';

export const frontmatter = {
  title: 'Projects',
};
---

<section class="mx-auto mt-5 flex w-full max-w-3xl flex-col items-center justify-center gap-4 px-4">
  <div>
    <h1 class="text-textPrimary-100 font-offBitdotbold text-2xl tracking-widest lg:text-3xl">
      My Project
    </h1>
  </div>

  <div class="grid grid-cols-1 gap-1 md:grid-cols-3 md:grid-rows-3">
    <div class="h-full w-full overflow-hidden rounded-xl md:col-span-1">
      <MusicPlayerEvent />
    </div>

    <div class="h-full w-full overflow-hidden rounded-xl border-2 border-zinc-800 md:col-span-1">
      <ProgressEvent />
    </div>

    <div
      class="flex h-full w-full items-center justify-center overflow-hidden rounded-xl bg-zinc-800 md:col-span-1 md:row-span-2"
    >
      <div class="my-12 flex flex-col items-center">
        <Image
          src={LogoImage}
          width={2245}
          height={2245}
          alt="project 1"
          loading="lazy"
          class="w-20 animate-bounce"
        />

        <h2 class="p-4 text-center font-offBitdotbold text-2xl tracking-widest text-whiteText">
          This page isn't ready yet
        </h2>

        <button
          class="cursor-pointer rounded-xl bg-magentaC px-5 py-3 font-offBit text-base tracking-widest text-whiteText transition duration-300 hover:bg-grayNetral hover:text-gray-400"
        >
          Okay
        </button>
      </div>
    </div>

    <div
      class="h-full w-full overflow-hidden rounded-xl bg-transparent md:col-span-1 md:col-start-3 md:row-start-3"
    >
      <ImageEvent
        imagesource="/img/SerenityLogo2.jpeg"
        imagetitle="Serenity Logo Desgin"
        imagedesc={`Serenity is a mobile app for exploring interesting places in Jakarta.`}
      />
    </div>

    <div
      class="col-start-1 h-full w-full overflow-hidden text-whiteText md:col-span-2 md:row-span-2 md:row-start-2"
    >
      <div class="flex h-full flex-col gap-1">
        <div class="flex-1 rounded-xl border-2 border-zinc-800 p-4">
          <h2 class="mb-3 font-offBitdotbold text-xl tracking-widest">Projects</h2>
          <ProjectData />
        </div>

        <div class="h-full w-full rounded-xl bg-zinc-800 p-4">
          <h2 class="font-offBitdotbold text-xl tracking-widest">Experience</h2>

          <JobTag />
        </div>
      </div>
    </div>

    <div
      class="h-full w-full overflow-hidden rounded-xl bg-transparent md:col-span-1 md:row-start-4"
    >
      <ImageEvent
        imagesource="/img/gamedev-project.png"
        imagetitle="Game Dev Project"
        imagedesc={`Ongoing project to create a 2D game using JavaScript.`}
      />
    </div>

    <div class="relative h-full w-full overflow-hidden rounded-xl md:col-span-2 md:row-start-4">
      <!-- <div class="flex h-full w-full items-start justify-center p-4 text-white">
        <Image
          src={SoreLogo}
          alt="Wahyu Seto Pranata"
          loading="lazy"
          class="mr-4 h-9 w-9 rounded-xl bg-white object-cover p-1"
        />
        <div class="flex flex-col gap-2">
          <div class="flex flex-row items-start justify-start">
            <h2 class="font-bold">SORE Pixel Crafters</h2>
            <span class="ml-2 font-normal">. 1m ago</span>
          </div>

          <p class="font-normal">
            SORE Pixel Crafters is a digital agency that specializes in UI/UX Design and Web
            Development.
          </p>

          <div class="flex items-start justify-start gap-4">
            <button class="text-xl hover:text-red-500">
              <i class="ri-heart-3-line"></i>
            </button>

            <a
              class="text-xl hover:text-red-500"
              href="https://sore-pixelcrafters.vercel.app/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Visit Seto Journey Website"
            >
              <i class="ri-send-plane-line"></i>
            </a>
          </div>
        </div>
      </div> -->

      <div class="inset-0 h-full w-full md:absolute">
        <AnimatedCanvas />
      </div>
    </div>
  </div>
</section>
