---
import MusicPlayerEvent from "./MusicPlayerEvent";
import ProgressEvent from "./ProgressEvent.astro";

export const frontmatter = {
  title: 'Projects',
};
---

<section class="w-[28.75rem] md:w-[48rem] block mx-auto mt-5 mb-8" id="project">
  <div class="grid grid-cols-3 grid-rows-3 gap-5">
    <div class="w-full max-h-min bg-transparent rounded-xl overflow-hidden">
      <MusicPlayerEvent />
    </div>

    <div class="w-full max-h-min bg-transparent rounded-xl overflow-hidden">
      <ProgressEvent />
    </div>

      <div class="bg-white text-CatalinaBlue row-span-2 rounded-xl overflow-hidden relative">
        <div class="flex flex-col items-center mt-20">
          <div class="w-20 animate-bounce">
            <img src="" alt="comming soon..." />
          </div>

          <h2 class="p-4 text-xl font-medium text-center">
            This page isn't ready yet
          </h2>
          <a class="bg-ClassicRose text-DarkBlueGrey rounded-xl py-3 px-5 font-medium text-sm cursor-pointer duration-300 hover:bg-PastelPink hover:text-RichBlack">
            Okay
          </a>
        </div>
        <div class="rounded-full bg-gradient-to-tr from-Flame to-Mauve animate-spin-slow aspect-square w-[18rem] overflow-hidden absolute top-[21rem] left-[3rem]">
          <img src="" alt="" />
        </div>
      </div>

      <div class="bg-transparent col-start-3 row-start-3 rounded-xl overflow-hidden">
        <div class="relative flex flex-col justify-center">
          <div class="absolute inset-0"></div>
          <div class="group relative m-0 flex w-96 rounded-xl shadow-xl ring-gray-900/5 sm:mx-auto sm:w-full">
            <div class="z-10 h-full w-full overflow-hidden rounded-xl border border-gray-200 opacity-80 transition duration-300 ease-in-out group-hover:opacity-100 dark:border-gray-700 dark:opacity-70">
              <img src="https://images.unsplash.com/photo-1506187334569-7596f62cf93f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3149&q=80" class="animate-fade-in block h-full w-full scale-100 transform object-cover object-center opacity-100 transition duration-300 group-hover:scale-110" alt="" />
            </div>
            <div class="absolute bottom-0 z-20 m-0 pb-4 ps-4 transition duration-300 ease-in-out group-hover:-translate-y-1 group-hover:translate-x-3 group-hover:scale-110">
              <h1 class="font-serif text-2xl font-bold text-white shadow-xl">Azores</h1>
              <h1 class="text-sm font-light text-gray-200 shadow-xl">A Little Paradise in Portugal</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-transparent col-span-2 row-span-2 col-start-1 row-start-2 rounded-xl overflow-hidden">
        <div class="relative flex flex-col justify-center">
          <div class="absolute inset-0"></div>
          <div class="group relative m-0 flex h-72 w-96 rounded-xl shadow-xl ring-gray-900/5 sm:mx-auto sm:w-full">
            <div class="z-10 h-full w-full overflow-hidden rounded-xl border border-gray-200 opacity-80 transition duration-300 ease-in-out group-hover:opacity-100 dark:border-gray-700 dark:opacity-70">
              <img src="https://images.unsplash.com/photo-1506187334569-7596f62cf93f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3149&q=80" class="animate-fade-in block h-full w-full scale-100 transform object-cover object-center opacity-100 transition duration-300 group-hover:scale-110" alt="" />
            </div>
            <div class="absolute bottom-0 z-20 m-0 pb-4 ps-4 transition duration-300 ease-in-out group-hover:-translate-y-1 group-hover:translate-x-3 group-hover:scale-110">
              <h1 class="font-serif text-2xl font-bold text-white shadow-xl">Azores</h1>
              <h1 class="text-sm font-light text-gray-200 shadow-xl">A Little Paradise in Portugal</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-transparent row-start-4 rounded-xl overflow-hidden">
        <div class="relative flex flex-col justify-center">
          <div class="absolute inset-0"></div>
          <div class="group relative m-0 flex h-72 w-96 rounded-xl shadow-xl ring-gray-900/5 sm:mx-auto sm:w-full">
            <div class="z-10 h-full w-full overflow-hidden rounded-xl border border-gray-200 opacity-80 transition duration-300 ease-in-out group-hover:opacity-100 dark:border-gray-700 dark:opacity-70">
              <img src="https://images.unsplash.com/photo-1506187334569-7596f62cf93f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3149&q=80" class="animate-fade-in block h-full w-full scale-100 transform object-cover object-center opacity-100 transition duration-300 group-hover:scale-110" alt="" />
            </div>
            <div class="absolute bottom-0 z-20 m-0 pb-4 ps-4 transition duration-300 ease-in-out group-hover:-translate-y-1 group-hover:translate-x-3 group-hover:scale-110">
              <h1 class="font-serif text-2xl font-bold text-white shadow-xl">Azores</h1>
              <h1 class="text-sm font-light text-gray-200 shadow-xl">A Little Paradise in Portugal</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-white text-RichBlack col-span-2 row-start-4 rounded-xl overflow-hidden">
        <div class="bg-gray-200 flex justify-center items-center">
          <div class="w-full bg-white border-2 border-gray-300 p-5 rounded-md tracking-wide shadow-lg">
             <div id="header" class="flex"> 
                <img alt="mountain" class="w-45 rounded-md border-2 border-gray-300" src="https://picsum.photos/seed/picsum/200" />
                <div id="body" class="flex flex-col ml-5">
                   <h4 id="name" class="text-xl font-semibold mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
                   <p id="job" class="text-gray-800 mt-2">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                   <div class="flex mt-5">
                      <img alt="avatar" class="w-6 rounded-full border-2 border-gray-300" src="https://picsum.photos/seed/picsum/200" />
                      <p class="ml-3">John Doe</p>
                   </div>
                </div>
             </div>
          </div>
       </div>
      </div>
  </div>
    
  <div class="grid grid-cols-3 grid-rows-6 gap-4 mt-5">
    <div class="row-span-2 bg-transparent rounded-xl overflow-hidden">
      <div class="flex flex-col gap-1 justify-center items-start w-[280px] bg-white dark:bg-transparent px-4 py-4 shadow-xl rounded-lg">
        <p class="font-semibold text-xl text-gray-600 mb-2">Tags</p>
        <div class="flex flex-wrap gap-2">
          <p class="px-3 py-1 text-[12px] bg-[#d9dfe3] max-w-max rounded font-semibold text-[#7281a3]">
            #uiverse
          </p>
          <p class="px-3 py-1 text-[12px] bg-[#d9dfe3] max-w-max rounded font-semibold text-[#7281a3]">
            #html
          </p>

          <p class="px-3 py-1 text-[12px] bg-[#d9dfe3] max-w-max rounded font-semibold text-[#7281a3]">
            #css
          </p>
          <p class="px-3 py-1 text-[12px] bg-[#d9dfe3] max-w-max rounded font-semibold text-[#7281a3]">
            #tailwindcss
          </p>

          <p class="px-3 py-1 text-[12px] bg-[#d9dfe3] max-w-max rounded font-semibold text-[#7281a3]">
            #hoverme
          </p>
          <p class="px-3 py-1 text-[12px] bg-[#d9dfe3] max-w-max rounded font-semibold text-[#7281a3]">
            #figma
          </p>

          <p class="px-3 py-1 text-[12px] bg-[#d9dfe3] max-w-max rounded font-semibold text-[#7281a3]">
            #card
          </p>
          <p class="px-3 py-1 text-[12px] bg-[#d9dfe3] max-w-max rounded font-semibold text-[#7281a3]">
            #PSD
          </p>
        </div>
      </div>
    </div>

    <div class="row-span-2 bg-transparent rounded-xl overflow-hidden">
      <div class="relative flex flex-col justify-center">
        <div class="absolute inset-0"></div>
        <div class="group relative m-0 flex w-96 rounded-xl shadow-xl ring-gray-900/5 sm:mx-auto sm:w-full">
          <div class="z-10 h-full w-full overflow-hidden rounded-xl border border-gray-200 opacity-80 transition duration-300 ease-in-out group-hover:opacity-100 dark:border-gray-700 dark:opacity-70">
            <img src="https://images.unsplash.com/photo-1506187334569-7596f62cf93f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3149&q=80" class="animate-fade-in block h-full w-full scale-100 transform object-cover object-center opacity-100 transition duration-300 group-hover:scale-110" alt="" />
          </div>
          <div class="absolute bottom-0 z-20 m-0 pb-4 ps-4 transition duration-300 ease-in-out group-hover:-translate-y-1 group-hover:translate-x-3 group-hover:scale-110">
            <h1 class="font-serif text-2xl font-bold text-white shadow-xl">Azores</h1>
            <h1 class="text-sm font-light text-gray-200 shadow-xl">A Little Paradise in Portugal</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="row-span-2 bg-transparent rounded-xl overflow-hidden">
      <div class="relative flex flex-col justify-center">
        <div class="absolute inset-0"></div>
        <div class="group relative m-0 flex w-96 rounded-xl shadow-xl ring-gray-900/5 sm:mx-auto sm:w-full">
          <div class="z-10 h-full w-full overflow-hidden rounded-xl border border-gray-200 opacity-80 transition duration-300 ease-in-out group-hover:opacity-100 dark:border-gray-700 dark:opacity-70">
            <img src="https://images.unsplash.com/photo-1506187334569-7596f62cf93f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3149&q=80" class="animate-fade-in block h-full w-full scale-100 transform object-cover object-center opacity-100 transition duration-300 group-hover:scale-110" alt="" />
          </div>
          <div class="absolute bottom-0 z-20 m-0 pb-4 ps-4 transition duration-300 ease-in-out group-hover:-translate-y-1 group-hover:translate-x-3 group-hover:scale-110">
            <h1 class="font-serif text-2xl font-bold text-white shadow-xl">Azores</h1>
            <h1 class="text-sm font-light text-gray-200 shadow-xl">A Little Paradise in Portugal</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="col-span-2 row-span-4 row-start-3 bg-transparent rounded-xl">
      <div class="sm:first:col-span-2 py-14 px-11 rounded-lg max-w-lg" style="background-color: #FFE8D2;">
        <h3 class="mb-4 text-black text-[22px] sm:text-[40px] font-extrabold leading-none">
            <span>Inspiration </span>
        </h3>
        <div class="text-lg text-black leading-[1.8]">
            <p>See how other companies are using Reply, which use cases are there, and how it all works in practice.</p>
        </div>
        <ul class="mt-6 sm:mt-10">
            <li class="pt-2 pb-4 mb-2 last:mb-0 border-b border-black border-solid">
                <a class="flex items-center justify-between text-black hover:text-black text-lg sm:text-xl font-medium"
                    href="#">
                    <span>Customer stories</span>
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M4.00002 7.45035e-05L13 7.42506e-05C13.5523 7.45035e-05 14 0.44779 14 1.00007V10.0001C14 10.5524 13.5523 11.0001 13 11.0001C12.4477 11.0001 12 10.5524 12 10.0001V3.41429L1.70712 13.7072L0.292908 12.293L10.5858 2.00007L4.00002 2.00007C3.44773 2.00007 3.00002 1.55236 3.00002 1.00007C3.00002 0.44779 3.44773 7.41663e-05 4.00002 7.45035e-05Z"
                            fill="black"></path>
                    </svg>
                </a>
            </li>
            <li class="pt-2 pb-4 mb-2 last:mb-0 border-b border-black border-solid">
                <a class="flex items-center justify-between text-black hover:text-black text-lg sm:text-xl font-medium"
                    href="#">
                    <span>Cold email templates</span>
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M4.00002 7.45035e-05L13 7.42506e-05C13.5523 7.45035e-05 14 0.44779 14 1.00007V10.0001C14 10.5524 13.5523 11.0001 13 11.0001C12.4477 11.0001 12 10.5524 12 10.0001V3.41429L1.70712 13.7072L0.292908 12.293L10.5858 2.00007L4.00002 2.00007C3.44773 2.00007 3.00002 1.55236 3.00002 1.00007C3.00002 0.44779 3.44773 7.41663e-05 4.00002 7.45035e-05Z"
                            fill="black"></path>
                    </svg>
                </a>
            </li>
            <li class="pt-2 pb-4 mb-2 last:mb-0 border-b border-black border-solid">
                <a class="flex items-center justify-between text-black hover:text-black text-lg sm:text-xl font-medium"
                    href="#">
                    <span>Subject line generator</span>
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M4.00002 7.45035e-05L13 7.42506e-05C13.5523 7.45035e-05 14 0.44779 14 1.00007V10.0001C14 10.5524 13.5523 11.0001 13 11.0001C12.4477 11.0001 12 10.5524 12 10.0001V3.41429L1.70712 13.7072L0.292908 12.293L10.5858 2.00007L4.00002 2.00007C3.44773 2.00007 3.00002 1.55236 3.00002 1.00007C3.00002 0.44779 3.44773 7.41663e-05 4.00002 7.45035e-05Z"
                            fill="black">
                        </path>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    </div>
    <div class="row-span-2 col-start-3 row-start-3 bg-white rounded-xl">12</div>
    <div class="row-span-2 col-start-3 row-start-5 bg-white rounded-xl">18</div>
  </div>
</section>