---
export const frontmatter = {
  title: 'Skills',
};
---

<section id="skill">
  <div class="p-4">
    <h1 class="text-whiteText">Skills</h1>
    <p class="text-whiteText">Here are some skills...</p>
  </div>
</section>
