---
import FooterEvent from '../components/layout/FooterEvent.astro';
import '../assets/style/global.css';
import 'remixicon/fonts/remixicon.css';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/img/logo_6.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class="relative flex min-h-screen w-full flex-col">
    <slot />
    <FooterEvent />
  </body>
</html>
